@import '../../.cache/wal/colors-waybar.css';

@define-color background rgba(0, 0, 0, 0.3);
@define-color text @foreground;
@define-color bg0 @color0;

* {
    font-size: 16px;
    font-family: "MesloLGL Nerd Font";
    border: none;
    border-radius: 0;
}

window#waybar {
    background: @background;
    color: @text;
}

#clock.1, #clock.2, #clock.3 {
    font-size: 15px;
    color: @color4;
    border-top: 2px solid @color4;
    border-bottom: 2px solid @color4;
    border-left: 1px solid @color4;   
    border-right: 1px solid @color4;  
    margin: 0 10px;
    background: rgba(0, 0, 0, 0.5); 
    padding: 5px 12px;              
    border-radius: 9999px;          
}


#workspaces {
    border-bottom: 2px solid @color5;
    border-top: 2px solid @color5;
    border-left: 1px solid @color5;
    border-right: 1px solid @color5;
    margin: 0 4px;
    color: @color5;    
    background: rgba(0, 0, 0, 0.5); 
    padding: 5px 12px;              
    border-radius: 9999px;   
}

#workspaces button {
    padding: 0 4px;
    margin: 2px 4px;
    border: none;
    border-top: 2px solid transparent;             
    color: @color5;
}

#workspaces button:not(.empty) {
    border-top: 2px solid @color5;
    border-bottom: 2px solid @color5;
    border-left: 1px solid @color5;
    border-right: 1px solid @color5;
    padding: 2px 4px;
    border-radius: 9999px;            
}

#workspaces button:hover {
    background: @color5;
    color: @background;
    padding: 2px 6px; 
    border-radius: 9999px;  
}

#workspaces button.focused,
#workspaces button.active {
    background: @color5;
    color: @background;
    font-weight: bold;    
    border-radius: 9999px;  
    padding: 2px 6px;       
}


#custom-cpu {
	font-size: 12px;
	color: @color1;
	border-top: 2px solid @color1;
    border-bottom: 2px solid @color1;
    border-left: 1px solid @color1;
    border-right: 1px solid @color1;
    margin: 2px 4px;
    background: rgba(0, 0, 0, 0.5); 
    padding: 5px 12px;             
    border-radius: 9999px;   
}

#custom-memory {
	font-size: 12px;
	color: @color2;
	border-top: 2px solid @color2;
    border-bottom: 2px solid @color2;
    border-left: 1px solid @color2;
    border-right: 1px solid @color2;
    margin: 2px 4px;    
    background: rgba(0, 0, 0, 0.5); 
    padding: 5px 12px;            
    border-radius: 9999px;   
}

#custom-disk {
	font-size: 12px;
	color: @color3;
	border-top: 2px solid @color3;
    border-bottom: 2px solid @color3;
    border-left: 1px solid @color3;
    border-right: 1px solid @color3;    
    margin: 2px 4px;  
    background: rgba(0, 0, 0, 0.5); 
    padding: 5px 12px;            
    border-radius: 9999px;  
}

#pulseaudio {
	font-size: 14px;
	color: @color6;
	border-top: 2px solid @color6;
    border-bottom: 2px solid @color6;
    border-left: 1px solid @color6;
    border-right: 1px solid @color6;
    margin: 2px 4px;    
    background: rgba(0, 0, 0, 0.5); 
    padding: 5px 12px;              
    border-radius: 9999px;  
}

#tray {
	font-size: 14px;
	color: @color7;
	border-top: 2px solid @color7;
    border-bottom: 2px solid @color7;
    border-left: 1px solid @color7;
    border-right: 1px solid @color7;
    margin: 2px 4px;
    background: rgba(0, 0, 0, 0.5); 
    padding: 5px 12px;              
    border-radius: 9999px;  
}

#custom-powermenu {
	font-size: 14px;
	color: @color9;
	border-top: 2px solid @color9;
    border-bottom: 2px solid @color9;
    border-left: 1px solid @color9;
    border-right: 1px solid @color9;
    padding: 0px 10px;
    margin: 2px 4px;    
    background: rgba(0, 0, 0, 0.5); 
    padding: 5px 12px;             
    border-radius: 9999px;  
}
